.calc-body{
  width: 300px;
  background: lightslategrey;
}

.value-container{
  padding-top: 1.75%;
}

.value-container input{
  display: block;
  width: 75%;
  border: none;
  height: 30px;
  text-align: right;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: lightslategrey;
}

.buttons-container{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.buttons-container button{
  width: 20%;
  height: 30px;
  line-height: 30px;
  margin: 2%;
  border: none;
  outline: none;
  background: white;
  color: lightslategrey;
  font-weight: 700;
}

.buttons-container button:hover{
  box-shadow: 0 0 5px;
}